h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}
.heading {
  background-image: url(../images/the-flatiron-building.png)
}

* {
  font-family: Helvetica;
  text-align: center;
}
a {
	font-size: 18px;
	color: white;
}
.stripe {
  background-image: url(../images/the-flatiron-building.png);
  font-size: 23px;
	color: white;
  font-weight: bold;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
.copyright p {
  color:white;
  background-color: dimgray;
  font-size: 11px;
  text-align: left !important;
}
